<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
  </head>
  
<h3>Books</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    <tr> 
      <td>
      <%= book.title %>
      </td>
      <td>
      <%= book.body %>
      </td>
      <td>
      </td>
    </tr>
    <% end %>
  </tbody>   
</table>
