<html>
  <head></head>
  
  <body>
    <p>
      <strong>Title:</strong>
      <p><%= @book.title %></p>
    </p>
    <p>
      <strong>Body:</strong>
      <p><%= @book.body</p>
    </p>
    
    <a>Edit</a>
    <a>Back</a>
  </body>
</html>
